@import "../global-styles/includes";

.spellbook {
	display: flex;
	min-height:100vh;

	> * {
		padding:$app-padding;
	}

	> * + * {
		border-left:1px solid #333;
	}

	&__results {
		flex: 1 1 auto;
	}

	&__search {
		width: 300px;
		flex: 0 0 auto;
	}

	&__result {
		margin-bottom:$app-padding;
	}
}
