.spellbook {
	display: flex;
	min-height:100vh;

	> * {
		padding:$app-padding;
	}

	> * + * {
		border-left:$app-border;
	}

	&__results {
		flex: 0 1 24rem;
	}

	&__search {
		width: 300px;
		flex: 0 1 auto;
	}

	&__result {

		&.is-expanded {
			border-bottom:$app-border;
			padding-bottom:$app-padding;
		}

		& + & {
			margin-top:$app-padding;
		}
	}
}
