.prepared {
	display: flex;
	min-height:100vh;

	> * {
		padding:$app-padding;
	}

	> * + * {
		border-left:$app-border;
	}

	&__results {
		flex: 0 1 24rem;
	}

	&__search {
		width: 300px;
		flex: 0 1 auto;
		max-height:100vh;
		position:sticky;
		top:0;
		overflow-y:auto;
	}
}
