.prepared {
	display: flex;
	min-height:100vh;

	> * {
		padding:$app-padding;
	}

	> * + * {
		border-left:$app-border;
	}

	&__results {
		flex: 0 1 24rem;
	}

	&__slots {
		width: 300px;
		flex: 0 1 auto;
		max-height:100vh;
		position:sticky;
		top:0;
		overflow-y:auto;

		> * + * {
			margin-top:$app-spacing;
		}
	}

	&__slot {
		padding:$app-spacing $app-padding;
		border-radius:$app-spacing;
		border:$app-border;

		&__title {
			font-size:1.2em;
		}

		&--empty & {
			&__title {
				text-align:center;
			}
		}

		&--filled {
			display:flex;
			flex-direction:row;
			justify-content: space-between;
			align-items:center;
		}
	}

	&__empty-slot {

		&__meta {
			display:flex;
			flex-direction:row;
			justify-content: space-around;
			align-items:center;
		}

	}
}
