$sanchez: 'Sanchez', serif;
$kreon: 'Kreon', serif;
$copse: 'Copse', serif;
$port-lligat-slab: 'Port Lligat Slab', serif;
$im-fell-primer: 'IM Fell Great Primer', serif;
$raleway-medium:'Raleway', sans-serif;
